{% extends 'webapp/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/formularios.css' %}">
<style>
    /* Estilo para la tabla */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    
    th, td {
        padding: 10px;
        border: 1px solid #ccc;
    }
    
    th {
        background-color: #ff4081;
        color: #fff;
        font-weight: bold;
        text-align: left;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    tr:hover {
        background-color: #e6e6e6;
    }
    h2 {
        text-align: center;
        font-size: 24px;
        color: #2e7d32; /* Color verde que combina */
        margin-top: 20px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<section class="agregar-anime">
    <h2>Agregar un nuevo Anime</h2>
    <form method="post" action="{% url 'agregar_anime' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_anime">ID del Anime:</label>
            <input type="number" name="id_anime" id="id_anime" required>
        </div>
        <div class="form-group">
            <label for="nombre_anime">Nombre del Anime:</label>
            <input type="text" name="nombre_anime" id="nombre_anime" required>
        </div>
        <button type="submit">Agregar</button>
    </form>
    
    <!-- Mostrar los animes existentes -->
    <h2>Animes existentes</h2>
    <table>
        <tr>
            <th>Anime ID</th>
            <th>Nombre de Anime</th>
        </tr>
        {% for anime in animes %}
        <tr>
            <td>{{ anime.id_anime }}</td>
            <td>{{ anime.nombre_anime }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
