{% extends 'webapp/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/det.css' %}">
{% endblock %}

{% block content %}
<section class="anime-detail">
    <h2>{{ anime.nombre_anime }}</h2>
    <p>{{ anime.descripcion_anime }}</p>
    <div class="image-grid">
      {% for episodio in episodios %}
        <div class="image-container">
          <a href="{% url 'reproductor' episodio_id=episodio.id_episodio %}">
            <img src="{% static '' %}{{ episodio.ruta_imagen_episodio }}" alt="{{ episodio.nombre_episodio }}">
            <p class="image-caption">{{ episodio.nombre_episodio }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
</section>
{% endblock %}
