{% extends 'webapp/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/det.css' %}">
{% endblock %}

{% block content %}
<section class="anime-detail">
    <h2>{{ anime.nombre_anime }}</h2>
    <p>{{ anime.descripcion_anime }}</p>
    <div class="image-grid">
      {% for anime in animes %}
        <div class="image-container">
          <a href="{% url 'anime_detail' nombre_anime=anime.nombre_anime %}">
            <img src="{% static '' %}{{ anime.imagen_anime }}" alt="{{ anime.nombre_anime }}">
            <p class="image-caption">{{ anime.nombre_anime }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
</section>
{% endblock %}