{% extends 'webapp/base.html' %}

{% load static %}

{% block content %}
<section class="main-content">
	<h1>¡Bienvenido a Anime Multimedia!</h1>
	<p>Disfruta de nuestro amplio catálogo de animes en alta calidad y con subtítulos en español.</p>
	<div class="image-grid">
		<div class="image-container">
			<a href="#">
				<img src="{% static 'images/ds.jpeg' %}" alt="Anime 1">
				<p class="image-caption">Demon Slayer</p>
			</a>
		</div>
		<div class="image-container">
			<a href="#">
				<img src="{% static 'images/naruto.jpg' %}" alt="Anime 2">
				<p class="image-caption">Naruto</p>
			</a>
		</div>
		<div class="image-container">
			<a href="#">
				<img src="{% static 'images/aot.jpg' %}" alt="Anime 3">
				<p class="image-caption">Attack on Titan</p>
			</a>
		</div>
		<div class="image-container">
			<a href="#">
				<img src="{% static 'images/koba.jpg' %}" alt="Anime 3">
				<p class="image-caption">Kobayashi san Chino maid dragon</p>
			</a>
		</div>
		<div class="image-container">
			<a href="#">
				<img src="{% static 'images/dn.jpg' %}" alt="Anime 3">
				<p class="image-caption">Death Note</p>
			</a>
		</div>
		<div class="image-container">
			<a href="#">
				<img src="{% static 'images/juju.jpg' %}" alt="Anime 3">
				<p class="image-caption">Jujutsu Kaisen</p>
			</a>
		</div>
		<div class="image-container">
			<a href="#">
				<img src="{% static 'images/sds.jpg' %}" alt="Anime 3">
				<p class="image-caption">Seven deadly sins</p>
			</a>
		</div>
		<div class="image-container">
			<a href="#">
				<img src="{% static 'images/tg.jpg' %}" alt="Anime 3">
				<p class="image-caption">Tokyo Ghoul</p>
			</a>
		</div>
		<div class="image-container">
			<a href="#">
				<img src="{% static 'images/kon.jpg' %}" alt="Anime 3">
				<p class="image-caption">K-on</p>
			</a>
		</div>
		<div class="image-container">
			<a href="#">
				<img src="{% static 'images/sxf.jpeg' %}" alt="Anime 3">
				<p class="image-caption">Spy x Family</p>
			</a>
		</div>
		<div class="image-container">
			<a href="#">
				<img src="{% static 'images/csm.jpg' %}" alt="Anime 3">
				<p class="image-caption">Chain saw Man</p>
			</a>
		</div>
		<div class="image-container">
			<a href="#">
				<img src="{% static 'images/eva.jpg' %}" alt="Anime 3">
				<p class="image-caption">Evangelion</p>
			</a>
		</div>
	</div>
	<div class="pagination">
		<a href="/">Anterior</a>
		<a href="/">1</a>
		<a href="/pagina_2">2</a>
		<a href="/pagina_3">3</a>
		<a href="/pagina_2">Siguiente</a>
	</div>
</section>

{% endblock %}
