{% extends 'webapp/base.html' %}

{% load static %}

{% block content %}
<section class="main-content">
	<h1>¡Bienvenido a Anime Multimedia!</h1>
	<p>Disfruta de nuestro amplio catálogo de animes en alta calidad y con subtítulos en español.</p>
	<div class="image-grid">
		{% for anime in animes %}
			<div class="image-container">
				<a href="{% url 'anime_detail' nombre_anime=anime.nombre_anime %}">
					<img src="{% static '' %}{{ anime.imagen_anime }}" alt="{{ anime.nombre_anime }}">
					<p class="image-caption">{{ anime.nombre_anime }}</p>
				</a>
			</div>
		{% endfor %}
	</div>
	<div class="pagination">
		{% if animes.has_previous %}
			<a href="?page={{ animes.previous_page_number }}">Anterior</a>
		{% endif %}
		{% for num in animes.paginator.page_range %}
			{% if animes.number == num %}
				<span class="current-page">{{ num }}</span>
			{% else %}
				<a href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}
		{% if animes.has_next %}
			<a href="?page={{ animes.next_page_number }}">Siguiente</a>
		{% endif %}
	</div>
</section>
{% endblock %}
